//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
//Brand Styles
*
{
    font-family: 'Roboto', sans-serif;
}
$green: #51563F;
$brown-opcaity: rgba(167, 116, 70, 0.44);
$white: #FFFFFF;

