//Imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
//Brand Styles
*
{
    font-family: 'Roboto', sans-serif;
}
$green: #51563F;
$brown-opcaity: #a7744670;
$white: #FFFFFF;
$grey: #D9D9D9;

