@use "./brand.scss";

//Global Fixes
html
{
    overflow-x: hidden;
}
*
{
    margin: 0;
    padding: 0;    
}
.container
{
    padding: 5vh 5vw;
}
//HEADER
.header
{
    display: flex;
    justify-content: center;
    padding: 2vh 0 2vh 0;
}
//HERO SECTION
.hero
{
    background-image: url('../images/hero.JPG');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    div 
    {
        text-align: center;
        color: brand.$white;
        display: block;
        padding: 0 5vw;
        .heading
        {
            font-weight: bold;
        }
    }
}
//ABOUT SECTION
