@use "./brand.scss";

//Global Fixes
html
{
    overflow-x: hidden;
}
*
{
    margin: 0;
    padding: 0;    
}
a
{
    color: brand.$green;
}
input
{
    padding: 2vh 1vw;
}
.container
{
    padding: 7vh 5vw;
}

//HEADER
.header
{
    display: flex;
    justify-content: center;
    padding: 2vh 0 2vh 0;
}
//HERO SECTION
.hero
{
    background-image: url('https://ik.imagekit.io/yrdximse9a/kickstart/hero.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1676045360551');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    height: 50vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    div 
    {
        text-align: center;
        color: brand.$white;
        display: block;
        padding: 0 5vw;
        .heading
        {
            font-weight: bold;
            padding-bottom: 2vh;
        }
    }
}
//ABOUT SECTION
.aboutContent
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .heading2
    {
        color: brand.$green;
    }
    ul 
    {
        padding: 2vh 2em;
        list-style-type: none;
        text-align: left;
        //Try to see if you can make the width the same as the header text
        li 
        {
            padding: 0.45vh 0;
            font-weight: 100;
            color: black;
        }
    }
}
//ABOUT ME SECTION
#aboutMeSection
{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2.5vh 5vw;
    grid-gap: 2vw;
    div
    {
        h2
        {
            color: brand.$green;
        }
        ul
        {
            list-style-type: none;
            li 
            {
                padding: 0.45vh 0;
                font-weight: 200;
            }
        }
        p
        {
            color: brand.$green;
        }
    }
}

//TESTIMONIALS
#testimonials
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: brand.$grey;
    .container
    {
        text-align: center;
        h1
        {
            color: brand.$green;
        }
        .testimonialContainer
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3vh 0;
            .clientImage
            {
                border-radius: 100%;
            }
            .testimonialText
            {
                h3 
                {
                    color: brand.$green;
                    padding: 3vh 0 0 0;
                }
                p
                {
                    text-align: center;
                    padding: 1.5vh 0 0 0;
                    font-weight: 200;
                }
            }
            .chevron
            {
                cursor: pointer;
            }
        }
    }
}
//FOOTER
.footerContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .imageLinks
    {
        padding: 3vh 0 0 0;
        .imageLinksIcons
        {
            display: flex;
            li
            {
                list-style-type: none;
                padding: 0 1vw;
                cursor: pointer;
            }
        }
    }
    .copyrightText
    {
        padding: 2vh 0 0 0;
        p
        {
            font-size: 1em;
        }
    }
}
//CONTACT PAGE
.contactHero
{
    background-image: url('https://ik.imagekit.io/yrdximse9a/kickstart/contact_background_image.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1676045312076');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    height: 30vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    div 
    {
        text-align: center;
        color: brand.$white;
        display: block;
        padding: 0 5vw;
        .heading
        {
            font-weight: bold;
        }
    }
}
.formSection
{
    ul
    {
        li
        {
            list-style-type: none;
            color: brand.$green;
        }
    }
    padding: 5vh 15vw;
    span
    {
        padding: 0 2vw;
    }
    h2
    {
        color: brand.$green;
    }
    .contactForm
    {
        .contactSubmitForm
        {
            display: flex;
            flex-direction: column;
            span
            {
                padding: 2vh 0;
            }
            .checkBox
            {
                display: flex;
                flex-direction: column;
            }
            .firstAndLast
            {
                display: flex;
                input
                {
                    width: 100%;
                    background-color: rgba(128, 128, 128, 0.15);
                    border: solid 0.5px brand.$green;
                }
                span
                {
                    padding: 0 2vw;
                }
            }
            input
            {
                background-color: rgba(128, 128, 128, 0.15);
                border: solid 0.5px brand.$green;
            }
            textarea
            {
                background-color: rgba(128, 128, 128, 0.15);
                border: solid 0.5px brand.$green;
            }
        }
    }
}
@media (max-width: 575px)
{
    .formSection
    {
        .contactForm
        {
            .contactSubmitForm
            {
                .firstAndLast
                {
                    display: flex;
                    flex-direction: column;
                    input
                    {
                        width: 100%;
                    }
                    span
                    {
                        padding: 2vh 0;
                    }
                }
                input#email
                {
                    width: 100%;
                }
                textarea#message
                {
                    width: 100%;
                }
            }
        }
    }
}
@media (min-width: 1200px)
{
    .formSection
    {
        padding: 5vh 25vw;
    }
}