@use "./brand.scss";

// x-small devices (landscape phones, 575px and less)
@media (max-width: 575px) 
{
    .logo 
    {
        width: 150px;
        height: auto;
    }
    .heading
    {
        font-size: 10vw;
    }
    .heading2
    {
        font-size: 7vw;
        font-weight: normal;
    }
    li 
    {
        font-size: 4vw;
    }
    .aboutContactForm
    {
        .emailSubForm
        {
            width: 80%;
            padding: 2vh 0 0 0;
            form
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                input
                {
                    padding: 1vh 1vw;
                    border: 1px solid brand.$green;
                }
                button
                {
                    padding: 1vh 0;
                    background-color: brand.$green;
                    color: brand.$white;
                    border: none;
                }
                span 
                {
                    padding: 0.5vh 0;
                }
            }
        }
    }
    .testimonialText
    {
        h3 
        {
            font-size: 5vw;
        }
        p
        {
            font-size: 4vw;
        }
    }
    .clientImage
    {
        width: 150px;
        height: 150px;
    }
    .chevron
    {
        width: 25px;
        height: 25px;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) 
{
    .logo 
    {
        width: 150px;
        height: auto;
    }
    .heading
    {
        font-size: 10vw;
    }
    .heading2
    {
        font-size: 7vw;
        font-weight: normal;
    }
    li 
    {
        font-size: 2.5vw;
    }
    .aboutContactForm
    {
        .emailSubForm
        {
            width: 80%;
            padding: 2vh 0 0 0;
            form
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                input
                {
                    padding: 1vh 1vw;
                    border: 1px solid brand.$green;
                }
                button
                {
                    padding: 1vh 0;
                    background-color: brand.$green;
                    color: brand.$white;
                    border: none;
                }
                span 
                {
                    padding: 0.5vh 0;
                }
            }
        }
    }
    .testimonialText
    {
        h3 
        {
            font-size: 5vw;
        }
        p
        {
            font-size: 3.5vw;
        }
    }
    .clientImage
    {
        width: 175px;
        height: 175px;
    }
    .chevron
    {
        width: 35px;
        height: 35px;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) 
{
    .logo 
    {
        width: 150px;
        height: auto;
    }
    .heading
    {
        font-size: 8vw;
    }
    .heading2
    {
        font-size: 5vw;
        font-weight: normal;
    }
    li 
    {
        font-size: 2.5vw;
    }
    .aboutContactForm
    {
        .emailSubForm
        {
            width: 80%;
            padding: 2vh 0 0 0;
            form
            {
                display: flex;
                flex-direction: column;
                justify-content: center;
                input
                {
                    padding: 1vh 1vw;
                    border: 1px solid brand.$green;
                }
                button
                {
                    padding: 1vh 0;
                    background-color: brand.$green;
                    color: brand.$white;
                    border: none;
                }
                span 
                {
                    padding: 0.5vh 0;
                }
            }
        }
    }
    .testimonialText
    {
        h3 
        {
            font-size: 5vw;
        }
        p
        {
            font-size: 3vw;
        }
    }
    .clientImage
    {
        width: 185px;
        height: 185px;
    }
    .chevron
    {
        width: 35px;
        height: 35px;
    }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) 
{
    .logo 
    {
        width: 175px;
        height: auto;
    }
    .heading
    {
        font-size: 7vw;
    }
    .heading2
    {
        font-size: 4vw;
        font-weight: normal;
    }
    li 
    {
        font-size: 1.7vw;
    }
    .aboutContactForm
    {
        .emailSubForm
        {
            padding: 2vh 0 0 0;
            form
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                input
                {
                    padding: 1vh 1vw;
                    border: 1px solid brand.$green;
                }
                button
                {
                    padding: 0 1vw;
                    background-color: brand.$green;
                    color: brand.$white;
                    border: none;
                }
                span 
                {
                    padding: 0 1vw;
                }
            }
        }
    }
    .testimonialText
    {
        h3 
        {
            font-size: 3vw;
        }
        p
        {
            font-size: 1.6vw;
            padding: 0 10vw !important;
        }
    }
    .clientImage
    {
        width: 175px;
        height: 175px;
    }
    .chevron
    {
        width: 35px;
        height: 35px;
    }
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
{
    .logo 
    {
        width: 190px;
        height: auto;
    }
    .hero
    {
        height: 60vh;
        div
        {
            padding: 0 15vw !important;
        }
        .heading
        {
            font-size: 6vw;
        }
    }
    .heading2
    {
        font-size: 4vw;
        font-weight: normal;
    }
    li 
    {
        font-size: 1.5vw;
    }
    .aboutContactForm
    {
        .emailSubForm
        {
            padding: 2vh 0 0 0;
            form
            {
                display: flex;
                flex-direction: row;
                justify-content: center;
                input
                {
                    padding: 1vh 1vw;
                    border: 1px solid brand.$green;
                }
                button
                {
                    padding: 0 1vw;
                    background-color: brand.$green;
                    color: brand.$white;
                    border: none;
                }
                span 
                {
                    padding: 0 1vw;
                }
            }
        }
    }
    .testimonialText
    {
        h3 
        {
            font-size: 2.5vw;
        }
        p
        {
            font-size: 1.5vw;
            padding: 0 10vw !important;
        }
    }
    .clientImage
    {
        width: 175px;
        height: 175px;
    }
    .chevron
    {
        width: 35px;
        height: 35px;
    }
}